$white: #FFFFFF;
$black: #000000;
$bg-color: #f9f9f9;
$hover-color: #a5c400;
$active-color: #fe8130;

$text-header: #7C7C7C;
$line-grey: #E1E1E1;
$text: #828282;
$training-days: #adbb0c;

$nav-left-line: #efefef;

$footer-link-border: #b8b8b8;
$footer-link-color: #a4a4a4;
