.site-footer {
  display: flex;
  flex-direction: column;
  margin-top: 4.5rem;

  @media screen and (min-width: 769px) {
    flex-direction: row;
  }
}

.box-info {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: $text;
  margin-bottom: 5rem;

  .title,
  .content {
    margin: 0;
    margin-bottom: 1.4rem;
  }

  .title {
    font-family: $text-medium;
    font-size: 2.8rem;
    font-weight: 500;
  }

  .content {
    font-family: $text-regular;
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .link {
    display: inline-block;
    border: 1px solid $footer-link-border;
    border-radius: 5px;
    margin-right: .8rem;
    margin-bottom: .8rem;
    padding: .7rem 1.3rem;
    font-family: $text-light;
    font-size: 1.6rem;
    color: $footer-link-color;
    text-decoration: none;
    vertical-align: middle;
    @include transition(background-color .5s, color .5s, border-color .5s);

    .fa-angle-right {
      color: $footer-link-color;
      font-size: 2rem;
      margin-left: .9rem;
    }

    .fa-apple,
    .fa-android {
      color: $footer-link-color;
      font-size: 2rem;
    }

    .fa {
      @include transition(color .5s, border-color .5s);
    }

    &:hover {
      background-color: $active-color;
      color: $white;
      border-color: $active-color;

      .fa {
        color: $white;
      }
    }
  }

  @media screen and (min-width: 769px) {
    border-right: 1px solid $line-grey;
    max-width: 305px;
    margin-left: 3.2rem;
    padding-left: 1.7rem;

    &:first-child {
      margin-left: 0;
      padding-left: 0;
      padding-right: 0;
    }

    &:last-child {
      padding-left: 3.7rem;
      padding-right: 0;
      border-right: 0;
    }
  }
}
